:root {
    --accent-color: #388da8;
}

#order-instructions {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 50px;
}

.order {
    margin-top: 100px;
}

.order-form {
    position: relative;
    left: 20%;
}

#form {
    margin: 5px;
    width: 300px;
    border-radius: 10px;
    padding: 3px 6px;
}

#form:hover {
    border-color: var(--accent-color);
}

.selection {
    position: absolute;
    list-style-type: none;
    display: flex;
    flex: auto;
    gap: 10px;
    padding: 1px 550px;
    text-align: center;
}

#pricing {
    z-index: 100;
}

.services-page {
    margin-top: 50px;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width: 480px) {
    .selection {
        padding: 1px 70px;
    }
    .order-form {
        position: relative;
        left: 5%;
    }
}
